<!DOCTYPE html>
<html ng-app="TodoList">
<head>
 <title>Node | TodoList</title>

 <!-- Importing all JS files -->
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="frontend.js"></script>

 <!-- Importing all CSS files --> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

 <div ng-controller="Ctrl">

 <h1 style="text-align:center;font-family:verdana;">To-Do LiSt</h1>

 <div class="container">
  <form >
   <div class="form-group">
    <input class="form-control" type="text" ng-model="task.name">
   </div>

    <button class="btn btn-success" ng-click="addtask()">Add</button>&nbsp;
    <button class="btn btn-primary" ng-click="updatetask()">Update</button>&nbsp;
    <button class="btn btn-danger" ng-click="clearfield()">Clear</button> 
  </form><br><br> 

 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Task</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in todolists">
        <td>{{task.name}}</td>
        <td><button class="btn btn-danger" ng-click="deletetask(task._id)">Delete</button></td>
        <td><button class="btn btn-primary" ng-click="edittask(task._id)">Edit</button></td>
      </tr>
    </tbody>
  </table>

 </div>


</body>
</html>
